*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "aauxt-next", Helvetica, Arial sans-serif;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
h1,
h2,
h3,
h4 {
  line-height: 3rem;
}
h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
h3 {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
}
img {
  max-width: 100%;
}
section {
  padding-top: 3rem;
}

.container {
  position: relative;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.hollow-btn {
  border: 1px solid #202020;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: background-color 400ms, border 400ms, color 400ms;

  &__text {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid #3a296c;
    background-color: #3a296c;
    color: #fff;
  }
}
.purple-text {
  color: #3a296c;
  font-weight: 700;
}

.charlotte {
  background: url(../../iStock_88892723_XLARGE.jpg) no-repeat center/cover
    #dfdfdf;
  color: #fff;

  &__grid {
    display: grid;
    grid-template-columns: 1.5em 2fr;
    padding-bottom: 4em;
  }
  &__flex {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
  }
  &__intro {
    font-size: 1.2rem;
    font-weight: 300;
  }
  &__image {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 350px;
    left: -30px;
    margin-bottom: -1.5em;
  }
  &__title {
    text-transform: uppercase;
    margin: 0;
    font-size: 3.25rem;
  }
  &__subtitle {
    font-weight: 300;
    margin-top: 0;
  }
}

.visitors {
  &__thumb-ctn {
    position: relative;
    display: flex;
    justify-content: center;
    top: -95px;
    margin-bottom: -2rem;
  }
  &__thumb-image {
    height: auto;
    width: 90px;
  }
  &__grid {
    display: grid;
  }
  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
  }
  &__text {
    color: #626262;
  }
}

.places {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin: 0.5rem 0;
    font-weight: 400;
  }
  &__super,
  &__intro,
  &__blurb {
    color: #626262;
  }
  &__super {
    text-transform: uppercase;
  }
  &__blurbs {
    padding-top: 3rem;
  }
  &__blurb {
    display: grid;
    grid-template:
      1.5fr 0.75fr 2fr /
      0.1fr 2fr 0.1fr;
  }
  &__background {
    grid-area: 1 / 1 / 3 / 4;
    z-index: 1;
  }
  &__text {
    grid-area: 2 / 2 / 4 / 3;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 1rem;
  }
  #hilton {
    background: url(../../hotel-hilton.jpg) no-repeat center/cover #dfdfdf;
  }
  #renaissance {
    background: url(../../hotel-renaissance.jpg) no-repeat center/cover #dfdfdf;
  }
  #ballantyne {
    background: url(../../hotel-ballantyne.jpg) no-repeat center/cover #dfdfdf;
  }
}

@media (min-width: 800px) {
  .container--small {
    max-width: 700px;
  }
  .container--large {
    width: 100%;
    max-width: 1300px;
  }

  .charlotte {
    &__grid {
      grid-template-columns: 1fr 2fr;
    }
    &__image {
      width: 350px;
      left: -120px;
      margin-bottom: -2.3em;
    }
    &__title {
      font-size: 4.5rem;
      line-height: 4rem;
    }
    &__subtitle {
      font-size: 1.5rem;
    }
  }

  .visitors {
    padding-bottom: 3rem;
    &__thumb-ctn {
      margin-bottom: 0;
    }
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
    &__cta:last-child {
      grid-column-start: 1;
      grid-row-start: 2;
    }
    &__image:nth-last-child(2) {
      grid-column-start: 2;
    }
    &__col {
      align-items: flex-start;
    }
  }

  .places {
    &__header {
      max-width: 425px;
      margin: 0 auto;
    }
    &__blurb {
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr;
    }
    &__blurbs {
      display: flex;
      flex-direction: row;
    }
    &__blurb + &__blurb {
      margin-left: 1rem;
    }
    &__text {
      padding: 1rem 2.75rem;
      align-items: flex-start;
    }
  }
}
